body {
  margin: 10%;
}

.card-title {
color: black;
}

.card-title {
text-align: center;
}

h1 {
  text-align: center;
}

.blockquote {
  text-align: right;
  padding: 20px;
}

h2 {
margin: 15px;
margin-bottom: 20px;
margin-top: 50px;
padding: 5px;
}